.pieDePagina{
    background-color: map-get($footer, color );
    padding: map-get($footer, 30px );
    .iconos{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        .iconos-footer{
            height: 3rem;
            width: 3rem;
             display: inline-block; 
        }
    }
}